:root {
  --light-gray-color: #333235;
  --dark-grey-color: #232227;
  --body-gray: #3d3d3f;
  --blue-color:#28b6bd;
  --text-color: #fff;
  --shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.changeContainer{
  background-color:transparent;
}

.container {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
  background-color:#303643be;
  box-shadow: 0 1px 10px -2px #c2c2c2be;
  border-radius: 2px;
  font-family: "Poppins", sans-serif;
  transition: background-color 0s ease;
  
}

.wrapper {
  color: var(--text-color);
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  margin: 0 100px 0 100px;
}
.navigationBars {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 20;
  text-decoration: none;
}
.brand {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 28px;
  font-weight: 600;
  color: var(--text-color); 
  z-index: 10;
}

.imgLogo {
  width: 38px;  
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(28deg)
    brightness(105%) contrast(101%);
}

.link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 0px 8px;
  padding: 0px 10px 0px 10px;
  border-bottom: 3px solid transparent;

}
.link:hover {
  border-bottom: 3px solid var(--blue-color);
  margin-top: -1px;
 
}
.listNavigate {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.iconWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.eStyle {
  margin-top: 0px;
  margin-bottom: 1px;
  margin-left: -6px;
  margin-right: -5px;
}

.linkLogo{
  text-decoration: none;
  color: var(--text-color);
}

.loginContainer {
  display: flex;
  flex-direction: row;
  align-items: center; 
}
.login {
  font-size: 28px;
  color: var(--text-color);
  margin-left: 15px;
}
.login:hover {
  color: var(--blue-color);
  cursor: pointer;
}
.iconOpen,
.iconClose {
  font-size: 28px;
  cursor: pointer;
  color: var(--text-color);
}

.iconOpen:hover{
  color:var(--blue-color);
}

.iconClose:hover{
  color: var(--blue-color);
}


.showMenu {
  display: none;
}
.user{
  font-size: 29px;
  cursor: pointer;

}
.user:hover{
  color: #28b6bd;
}
.counter{
  position: absolute;
  top: 8px;
  right: 130px;
  width: 10px;
  text-align: center;
  color: #3d3d3f;
  background-color:#30cad2eb;
  padding: 2px 7px;
  border: transparent;
  border-radius: 25px;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
}

/* ==================== Response ========================== */
/* 1240+     ->komp.
   1023-768 -> tablet
   767-320  -> telefon */

@media screen and (max-width: 1200px) {
  .showMenu {
    display: inline;
    z-index: 21;
  }
  .menu {
    display: none;
  }
  
  .listNavigate {
    position: absolute;
    top: calc(175vw * 0.2);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    height: calc(175vw * 0.2);
    width:  calc(100% - 2em);
    padding-top: calc(200vw * 0.1);
    padding-bottom: calc(200vw * 0.1);
    background-color: #303643a3;
    backdrop-filter: blur(10px);
  }
  
  .link {
    color:var(--text-color);
    font-size: 22px;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .brand {
    font-size: 16px;
    font-weight: 600;
  }
  .imgLogo {
    width: 24px;
  }
  .link {
    font-size: 16px;
  }
  .iconOpen,
  .iconClose,
  .login {
    font-size: 22px;
  }
}
